html { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 



/********************************************************
 bg img
********************************************************/
body { background-color: var(--white--color); font-family: var(--main--font); overflow-x: hidden; } 
img { cursor: auto; } 
a { text-decoration: none; color: var(--white--color); } 



/********************************************************
 section-all___tutorial-text
********************************************************/
.tutorial-text span { color: var(--yellow--color); } 
.tutorial-text:nth-of-type(1) { font-size: 32px; color: var(--yellow--color); line-height: 1.6; } 
.tutorial-text:nth-of-type(2) { padding-top: 15px; font-size: 65px; color: var(--black--color); line-height: 1.4; } 
.tutorial-text:nth-of-type(3) { padding-top: 60px; font-size: 36px; font-weight: var(--weight--400); color: var(--black--color); line-height: 1.5; } 



/********************************************************
 section1-main-title-wrapper
********************************************************/
.main-title-wrapper { position: relative; width: 100vw; height: 1080px; background: var(--yellow--color); color: var(--white--color); } 
.main-title-group { width: 100%; height: 100%; } 

.moss-slogan-wrap { position: absolute; top: 237px; left: 180px; display: flex; flex-direction: column; gap: 57px; } 
.moss-slogan-inner { width: fit-content; height: 100%; } 

.moss-app-logo > img { width: 335px; } 

.moss-inner-text { margin-top: -60px; } 
.moss-inner-text li:nth-of-type(1) { font-family: var(--sub--font); font-size: 114px; font-weight: var(--weight--700); line-height: 1.5; } 
.moss-inner-text li:nth-of-type(2) { padding-top: 30px; font-size: 30px; font-weight: var(--weight--500); line-height: 1.6; } 

.main-mockup-image { position: absolute; width: 1150px; height: 964px; bottom: 0; right: 0; overflow: hidden; } 
.main-mockup-image img { position: absolute; width: 100%; bottom: 0; right: 0; object-fit: cover; cursor: auto; } 




/********************************************************
 section2-app-strategy-wrapper
********************************************************/
.app-strategy-wrapper { width: 100vw; height: auto; background: var(--white--color); } 
.app-strategy-group { position: relative; width: 100%; height: 2340px; } 
.app-strategy-contents { position: absolute; width: 81vw; height: 100%; top: 0; left: 50%; transform: translateX(-50%); z-index: 3; } 

.app-strategy-text { position: absolute; top: 185px; left: 70px; font-weight: var(--weight--700); } 
.app-strategy-text li:nth-of-type(1) { font-size: 34px; color: var(--yellow--color); line-height: 1.55; } 
.app-strategy-text li:nth-of-type(2) { width: 800px; padding-top: 30px; font-size: 64px; color: var(--black--color); line-height: 1.3; } 
.app-strategy-text li:nth-of-type(3) { width: 940px; padding-top: 30px; font-size: 30px; font-weight: var(--weight--400); color: var(--black--color); line-height: 1.5; } 

.contents-box-group { position: absolute; top: 656px; left: 50%; transform: translateX(-50%); display: flex; gap: 76px; } 
.contents-box-item { width: 672.26px; height: 287px; background: var(--white--color); border-radius: 20px; box-shadow: 0px 4px 20px 4px #DFE2E9; display: flex; align-items: center; justify-content: center; } 
.contents-box-inner { display: flex; flex-direction: column; gap: 33px; } 
.contents-box-inner li:first-child { flex-shrink: 0; font-size: 30px; font-weight: var(--weight--700); line-height: 1.5; } 
.contents-box-inner li:last-child { flex-shrink: 0; color: #1f1f1f; font-size: 26px; font-weight: var(--weight--400); line-height: 1.6; } 


.derive-uiux-wrap { position: absolute; width: 100%; height: auto; top: 1243px; } 
.derive-uiux-wrap h1 { color: var(--yellow--color); font-size: 34px; font-weight: var(--weight--700); line-height: 1.55; } 
.derive-uiux-item { width: 100%; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 48px; } 
.derive-uiux-item img { width: 74vw; } 

.things-to-consider { width: 71vw; display: flex; justify-content: space-between; padding: 20px 0; border-bottom: 2px solid rgba(0, 0, 0, 0.15); } 

.down-aroow { top: 260px; left: 50%; transform: translateX(-50%); } 
.down-aroow svg { width: 30px; } 

.consider:nth-of-type(3) { margin-left: 30px; } 
.consider li:nth-of-type(1) { color: var(--yellow--color); font-size: 34px; font-weight: var(--weight--700); line-height: 1.55; } 
.consider li:nth-of-type(2) { color: var(--black--color); font-size: 30px; font-weight: var(--weight--500); line-height: 1.55; } 

.app-strategy-bottom-mockup { position: absolute; width: 100vw; object-fit: cover; bottom: 0; left: 0; z-index: 1; } 




/********************************************************
 section3-onboarding-wrapper
********************************************************/
.onboarding-wrapper { position: relative; width: 100vw; color: var(--black--color); } 
.onboarding-wrapper video { width: 100%; object-fit: cover; display: block; } 




/********************************************************
 section4-first-tutorial-wrapper
********************************************************/
.first-tutorial-wrapper { width: 100vw; height: auto; color: var(--black--color); } 
.tutorial-group { position: relative; width: 81vw; height: 2544px; left: 50%; transform: translateX(-50%); } 

.tutorial-text-item { width: 100%; margin-top: 423px; display: flex; justify-content: space-between; } 
.tutorial-text-inner li:nth-of-type(1) { font-size: 32px; font-weight: var(--weight--700); line-height: 1.6; color: var(--yellow--color); } 
.tutorial-text-inner li:nth-of-type(2) { width: 560px; padding-top: 15px; font-size: 65px; font-weight: var(--weight--700); line-height: 1.4; color: var(--black--color); } 

.tutorial-detailed-text { display: flex; align-items: flex-end; } 
.tutorial-detailed-text li { width: 860px; font-size: 36px; font-weight: var(--weight--400); line-height: 1.5; } 

.tutorial-mockup-group { position: relative; width: 81vw; height: auto; margin-top: 140px; left: 50%; display: flex; gap: 155px; transform: translateX(-50%); display: flex; } 
.tutorial-mockup-item { display: flex; flex-direction: column; gap: 40px; } 
.tutorial-mockup-item:nth-of-type(2) { margin-top: 173px; } 
.tutorial-mockup-item:nth-of-type(3) { margin-top: 341px; } 

.mockup-text-inner { font-size: 28px; line-height: 1.5; text-align: center; } 
.mockup-text-inner li:nth-of-type(1) { font-weight: var(--weight--700); line-height: 1.6; padding-bottom: 5px; color: var(--yellow--color); } 
.iphone { position: relative; width: 371px; height: 764px; flex-shrink: 0; border-radius: 57px; background: var(--iphone--color); } 
.video { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 40px; } 



/********************************************************
 section5-second-tutorial-wrapper
********************************************************/
.second-tutorial-wrapper { width: 100vw; height: auto; background: var(--white--color); overflow: hidden; } 
.second-tutorial-group { position: relative; width: 81vw; height: 1080px; top: 0; left: 50%; transform: translateX(-50%); } 

.second-tutorial-text { position: absolute; top: 217px; left: 0; font-weight: var(--weight--700); } 
.second-tutorial-text li:nth-of-type(2) { width: 600px; } 
.second-tutorial-text li:nth-of-type(3) { width: 560px; } 


.second-mockup-group { position: absolute; width: fit-content; right: 50px; top: 190px; } 

.body-type-icon { position: relative; width: 100%; height: 100%; top: 0; right: 0; } 
.body-type-icon img { position: absolute; width: 180px; opacity: 0; } 

.triangle { top: 699px; right: 646px; } 
.inverted { top: 405px; right: 578px; } 
.square { top: 123px; right: 152px; } 
.round { top: 463px; right: 0px; } 

.triangle-animate { animation: triangle 1.5s forwards ease; } 
.inverted-animate { animation: inverted 1.5s forwards ease; } 
.square-animate { animation: square 1.5s forwards ease; } 
.round-animate { animation: round 1.5s forwards ease; } 


@keyframes triangle { 
 0% { top: 500px; right: 100px; } 100% { top: 699px; right: 646px; transform: scale(1); opacity: 1; } 
 }
@keyframes inverted { 
 0% { top: 400px; right: 10px } 100% { top: 405px; right: 578px; transform: scale(1); opacity: 1; } 
 }
@keyframes square { 
 0% { top: 400px; right: 300px } 100% { top: 123px; right: 152px; transform: scale(1); opacity: 1; } 
 }
@keyframes round { 
 0% { top: 500px; right: 300px } 100% { top: 463px; right: 0px; transform: scale(1); opacity: 1; } 
 }




/********************************************************
 section6-third-tutorial-wrapper
********************************************************/
.third-tutorial-wrapper { width: 100vw; height: auto; background: var(--background--gray--color2); } 
.third-tutorial-group { position: relative; width: 81vw; height: 917px; left: 50%; transform: translateX(-50%); display: flex; gap: 70px; } 

.third-cetailed-category { position: relative; width: 748px; height: 586px; top: 255px; } 
.third-cetailed-category-2 {display: none;}


.category-item { position: absolute; opacity: 0; } 
.category-item:nth-of-type(1) { right: 40px; top: 60px; width: 339px;} 
.category-item:nth-of-type(2) { left: 156px; top: 185px; width: 339px;} 
.category-item:nth-of-type(3) { left: 60px; top: 297px; width: 293px;} 
.category-item:nth-of-type(4) { right: 0; top: 331px; width: 385px;} 
.category-item:nth-of-type(5) { left: 0; top: 444px; width: 430px;} 

.third-tutorial-text { position: relative; padding-top: 400px; text-align: right; font-weight: var(--weight--700); } 




/********************************************************
 check-list-wrapper
********************************************************/
.check-list-wrapper { width: 100vw; } 
.check-list-wrapper video { width: 100%; object-fit: cover; display: block; } 




/********************************************************
 section7-fourth-tutorial-wrapper
********************************************************/
.fourth-tutorial-wrapper { width: 100vw; height: auto; background: var(--white--color); display: flex; align-items: center; justify-content: center; } 
.fourth-tutorial-group { width: 81vw; height: 2164px; display: flex; flex-direction: column; gap: 127px; border: solid 2px red;} 

.fourth-tutorial-text { position: relative; width: fit-content; height: auto; margin-top: 260px; text-align: left; font-weight: var(--weight--700); } 

.fourth-main-home { position: relative; width: 81vw; height: auto; top: 0; left: 50%; transform: translateX(-50%); border: solid 2px black; } 
.fourth-mockup-group { position: relative; margin: 0 auto; width: 1036px; height: 1036px; border-radius: 50%; background: var(--yellow--color); } 
.fourth-mockup-item { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 

.fourth-mockup-item-inner { position: absolute; width: 100%; height: 100%; top: 0; left: 0; } 
.fourth-mockup-item-inner-2 {display: none;}

.fourth-mockup-item-inner img { position: absolute; width: 428px; } 

.mockup-left-item { top: 126px; left: 90px; } 
.mockup-left-item:nth-of-type(2) { top: 507px; left: 0; } 
.mockup-right-item { top: 376px; right: 102px; } 




/********************************************************
 section8-fifth-tutorial-wrapper
********************************************************/
.fifth-tutorial-wrapper { width: 1920px; height: 2346px; background: var(--background--gray--color2); } 
.fifth-tutorial-group { width: 100%; height: 100%; display: flex; flex-direction: column; gap: 140px; } 

.fifth-tutorial-text { position: relative; width: fit-content; height: auto; margin-top: 214px; left: 180px; text-align: left; font-weight: var(--weight--700); } 

.fifth-mockup-group { position: relative; width: 100%; height: 100%; text-align: center; } 
.fifth-mockup-item { position: absolute; width: 1560px; top: 0; left: 50%; transform: translateX(-50%); } 

.fifth-mockup-item-inner { display: flex; } 
.fifth-mockup-item-inner p { width: 383px; margin-top: 77px; text-align: left; font-size: 26px; font-weight: var(--weight--400); line-height: 1.5; } 
.fifth-mockup-item-inner .div-with-gap { margin-right: 283px; } 
.fifth-mockup-item-inner .div-with-gap:last-child { margin-left: -191px; } 

.fifth-mockup-item-inner .div-with-gap h1 { position: relative; margin-top: 47px; width: fit-content; left: 50%; transform: translateX(-50%); font-size: 28px; font-weight: var(--weight--400); line-height: 1.5; } 
.fifth-mockup-item-inner .div-with-gap h1::before { content: ""; position: absolute; width: 235px; height: 3px; top: -10px; left: 50%; transform: translateX(-50%); background: var(--yellow--color); } 




/********************************************************
 section9-sixth-tutorial-wrapper
********************************************************/
.sixth-tutorial-wrapper { position: relative; width: 1920px; height: 1790px; background: var(--white--color); } 
.sixth-tutorial-group { position: absolute; width: 1560px; height: 100%; top: 0; left: 50%; transform: translateX(-50%); } 

.sixth-tutorial-text { position: absolute; width: fit-content; top: 224px; right: 0; text-align: right; font-weight: var(--weight--700); } 

.sixth-mockup-group { position: absolute; width: fit-content; height: auto; top: 380px; left: 0; display: flex; } 
.sixth-mockup-item { margin-right: 230px; } 
.sixth-mockup-item:last-child { margin-left: -140px; margin-right: 0; } 

.sixth-mockup-item h1 { position: relative; margin-top: 47px; width: fit-content; left: 50%; transform: translateX(-50%); font-size: 28px; font-weight: var(--weight--400); line-height: 1.5; } 
.sixth-mockup-item h1::before { content: ""; position: absolute; width: 235px; height: 3px; top: -10px; left: 50%; transform: translateX(-50%); background: var(--yellow--color); } 




/********************************************************
 section10-seventh-tutorial-wrapper
********************************************************/
.seventh-tutorial-wrapper { width: 1920px; height: 2476px; background: var(--background--gray--color2); } 
.seventh-tutorial-group { position: relative; width: 1560px; height: 100%; top: 0; left: 50%; transform: translateX(-50%); } 

.seventh-tutorial-text { position: absolute; width: fit-content; top: 263px; right: 0; text-align: right; font-weight: var(--weight--700); } 

.seventh-mockup-scrolling { position: relative; top: 470px; } 
.seventh-mockup-scrolling img { position: absolute; } 
.seventh-mockup-scrolling img:first-child { top: 0; left: 0; z-index: 2; } 
.seventh-mockup-scrolling img:last-child { top: 40px; left: 20px; z-index: 1; clip-path: inset(0% 0% 60% 0%); transition: all 1.5s; } 

.seventh-mockup-group { position: absolute; width: fit-content; height: auto; display: flex; align-items: flex-end; gap: 30px; top: 1021px; right: 0; } 

.seventh-mockup-item h1 { position: relative; margin-top: 47px; width: fit-content; left: 50%; transform: translateX(-50%); font-size: 28px; font-weight: var(--weight--400); line-height: 1.5; } 
.seventh-mockup-item h1::before { content: ""; position: absolute; width: 235px; height: 3px; top: -10px; left: 50%; transform: translateX(-50%); background: var(--yellow--color); } 



/********************************************************
 section11-eighth-tutorial-wrapper
********************************************************/
.eighth-tutorial-wrapper { width: 1920px; height: 1259px; background: var(--white--color); } 
.eighth-tutorial-group { position: relative; width: 1560px; height: 100%; top: 0; left: 50%; transform: translateX(-50%); } 

.eighth-tutorial-text { position: absolute; width: fit-content; top: 237px; left: 0; font-weight: var(--weight--700); } 
.eighth-mockup-group { position: absolute; width: fit-content; top: 237px; right: 130px; } 



/********************************************************
 section12-sub-mockup
********************************************************/
.sub-mockup { width: 1920px; height: 1080px; background: url(../images/appPageImage/2X/e34.png) no-repeat center/cover fixed; } 


/********************************************************
 section13-moss-app-downlod
********************************************************/
.app-downlod-wrapper { width: 1920px; height: 1080px; } 
.app-downlod-group { display: flex; width: 100%; height: 100%; } 
.app-downlod-text, .app-downlod-mockup { width: 50%; height: 100%; } 
.app-downlod-text { position: relative; background: var(--white--color); color: var(--black--color); } 
.app-downlod-text-inner { position: absolute; top: 185px; left: 160px; } 
.app-downlod-text h1 { font-size: 65px; font-weight: var(--weight--700); line-height: 1.4; } 
.app-downlod-mockup { background: var(--black--color); background-image: url(../images/appPageImage/2X/e35.png); background-repeat: no-repeat; background-size: cover; } 


.btn-wrap { margin-top: 60px; display: flex; gap: 80px; font-size: 60px; } 
.btn-wrap .btn { width: 305px; height: 80px; font-size: 24px; font-weight: var(--weight--600); padding: 10px 60px; display: flex; justify-content: center; align-items: center; flex-shrink: 0; border-radius: 50px; border: 2px solid var(--yellow--color); color: var(--yellow--color); background: var(--white--color); cursor: pointer; transition: all .2s ease; overflow: hidden; } 
.btn-wrap .btn:hover { background: var(--yellow--color); color: #FFF; } 



/********************************************************
 footer
********************************************************/
footer { position: relative; width: 100vw;} 
footer img { width: 100%; object-fit: cover; display: block; } 

























/********************************************************
 반응형 (min-width: 1800px)
********************************************************/
@media all and (max-width: 1800px){
 .tutorial-text:nth-of-type(1) { font-size: 32px; } 
 .tutorial-text:nth-of-type(2) { padding-top: 15px; font-size: 63px; } 
 .tutorial-text:nth-of-type(3) { padding-top: 60px; font-size: 34px; } 

 
 
/** section1-main-wrapper **/
 .main-title-wrapper { height: 100vh; } 
 .moss-app-logo > img { width: 235px; } 
 
 .moss-inner-text { margin-top: -40px; } 
 .moss-inner-text li:nth-of-type(1) { font-size: 80px; } 
 .moss-inner-text li:nth-of-type(2) { padding-top: 30px; font-size: 24px; } 
 
 .main-mockup-image { width: 960px; height: 764px; } 


 /* section2-app-strategy-wrapper */
 .contents-box-item { width: 600px; height: 260px; } 
 .contents-box-inner li:first-child { font-size: 26px; } 
 .contents-box-inner li:last-child { font-size: 22px; } 

 .consider:nth-of-type(2) { margin-left: 30px; } 
 .consider li:nth-of-type(1) { font-size: 28px; } 
 .consider li:nth-of-type(2) { font-size: 24px; } 


 /* section4-first-tutorial-wrapper */
 .tutorial-text-item { margin-top: 323px; display: flex; flex-direction: column; justify-content: center; gap: 30px; } 
 .tutorial-text-inner li:nth-of-type(1) { font-size: 32px; } 
 .tutorial-text-inner li:nth-of-type(2) { width: 560px; font-size: 65px; } 


 /* section6-third-tutorial-wrapper */
 .category-item:nth-of-type(1) { right: 40px; top: 277px; width: 309px; z-index: 2;} 
 .category-item:nth-of-type(2) { left: 156px; top: 185px; width: 309px; z-index: 3;} 
 .category-item:nth-of-type(3) { left: 60px; top: 297px; width: 263px; z-index: 2;} 
 .category-item:nth-of-type(4) { right: 0; top: 391px; width: 355px; z-index: 4;} 
 .category-item:nth-of-type(5) { left: 0; top: 444px; width: 400px;} 
 }
 
 
 
 /********************************************************
 반응형 (min-width: 1560px)
 ********************************************************/
 @media all and (max-width: 1560px){
 .tutorial-text:nth-of-type(1) { font-size: 26px; } 
 .tutorial-text:nth-of-type(2) { padding-top: 15px; font-size: 45px; } 
 .tutorial-text:nth-of-type(3) { padding-top: 60px; font-size: 24px; } 


 /** section1-main-wrapper **/
 .main-mockup-image { width: 760px; height: 764px; } 
 .main-mockup-image img { bottom: 100px; } 


 /* section2-app-strategy-wrapper */
 .contents-box-item { width: 500px; height: 240px; } 
 .contents-box-inner li:first-child { font-size: 26px; } 
 .contents-box-inner li:last-child { font-size: 22px; } 

 /* .consider:nth-of-type(2) { margin-left: 30px; } */
 .consider li:nth-of-type(1) { font-size: 26px; } 
 .consider li:nth-of-type(2) { font-size: 22px; } 


 /* section4-first-tutorial-wrapper */
 .tutorial-mockup-group { gap: 40px; } 
 .tutorial-mockup-item { display: flex; flex-direction: column; gap: 40px; } 
 .tutorial-mockup-item:nth-of-type(2) { margin-top: 173px; } 
 .tutorial-mockup-item:nth-of-type(3) { margin-top: 341px; } 


 /* section7-fourth-tutorial-wrapper */
 .fourth-mockup-item-inner img { position: absolute; width: 328px; } 
 .mockup-left-item { top: 126px; left: 90px; } 
 .mockup-left-item:nth-of-type(2) { top: 507px; left: 0; } 
 .mockup-right-item { top: 376px; right: 102px; } 
}
 
 
 
 
 
 /********************************************************
 반응형 (min-width: 1280px)
 ********************************************************/
 @media all and (max-width: 1280px) { /** common-text-inner **/

 

 /** section1-main-wrapper **/
 .moss-slogan-wrap { width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; } 
 .moss-slogan-inner { width: fit-content; height: 100%; } 
 .main-mockup-image { display: none; } 
 


 /** section2-app-strategy-wrapper **/
 /* .app-strategy-wrapper { width: 100vw; height: auto; } */
 .app-strategy-group { height: 230vh; } 
 .app-strategy-contents { width: 90vw; } 
 .app-strategy-text li:nth-of-type(2) { width: 100%; font-size: 34px; } 
 .app-strategy-text li:nth-of-type(3) { width: 100%; font-size: 24px; } 

 .contents-box-group { top: 500px; display: flex; flex-direction: column; gap: 76px; } 
 .contents-box-item { width: 640px; height: 260px; } 
 .contents-box-inner li:first-child { font-size: 30px; } 
 .contents-box-inner li:last-child { font-size: 26px; } 

 .derive-uiux-item img { width: 90vw; } 

 .things-to-consider { width: 90vw; } 

 /* .consider:nth-of-type(2) { margin-left: 30px; } */
 .consider li:nth-of-type(1) { font-size: 20px; } 
 .consider li:nth-of-type(2) { font-size: 18px; } 

 .down-aroow svg { width: 20px; } 



 /* section4-first-tutorial-wrapper */
.tutorial-group { height: auto; padding-bottom: 123px; } 

 .tutorial-text-inner li:nth-of-type(1) { font-size: 26px; } 
 .tutorial-text-inner li:nth-of-type(2) { width: 100%; font-size: 45px; } 
 .tutorial-detailed-text li { width: 100%; font-size: 26px; } 

 .tutorial-mockup-group { display: flex; gap: 155px; align-items: center; flex-direction: column; } 
 .tutorial-mockup-item { display: flex; flex-direction: column; gap: 40px; } 
 .tutorial-mockup-item:nth-of-type(2) { margin-top: 50px; } 
 .tutorial-mockup-item:nth-of-type(3) { margin-top: 50px; } 


 /* section6-third-tutorial-wrapper */
 .third-tutorial-group { width: 90vw; height: auto; display: flex; flex-direction: column;} 
 .third-tutorial-text { position: relative; right: 0; padding-top: 100px; text-align: right;} 


 .third-cetailed-category { display: none;}
 .third-cetailed-category-2 {position: absolute; display: flex; bottom: 0;} 


 /* section7-fourth-tutorial-wrapper */

}
 
 
 /********************************************************
 반응형 (min-width: 768px)
 ********************************************************/
 @media all and (max-width: 768px) { /** common-text-inner **/
 /* .common-text-inner:nth-of-type(1) { font-size: 32px; } */
 /* .common-text-inner:nth-of-type(2) { padding-top: 30px; font-size: 36px; } */
 /* .common-text-inner:nth-of-type(3) { padding-top: 30px; font-size: 16px; } */

 .tutorial-text:nth-of-type(1) { font-size: 32px; } 
 .tutorial-text:nth-of-type(2) { padding-top: 15px; font-size: 35px; } 
 .tutorial-text:nth-of-type(3) { padding-top: 60px; font-size: 16px; } 
 
 
 /** section1-main-wrapper **/
 .moss-slogan-inner { display: flex; flex-direction: column; text-align: center; align-items: center; width: fit-content; height: 100%; } 
 .main-title-wrapper { height: 100vh; } 
 .moss-app-logo > img { width: 232px; } 
 
 .consider:nth-of-type(3) { margin-left: 5px; } 
 .moss-inner-text li:nth-of-type(1) { font-size: 63px; } 
 .moss-inner-text li:nth-of-type(2) { font-size: 20px; } 



 /** section2-app-strategy-wrapper **/
 .app-strategy-group { height: 200vh; } 
 .app-strategy-text { left: 0; } 
 .app-strategy-text li:nth-of-type(2) { width: 100%; font-size: 28px; } 
 .app-strategy-text li:nth-of-type(3) { width: 100%; font-size: 18px; } 

 .contents-box-group { top: 600px; } 
 .contents-box-item { width: 440px; height: 200px; } 
 .contents-box-inner li:first-child { font-size: 22px; } 
 .contents-box-inner li:last-child { font-size: 18px; } 

 .derive-uiux-wrap h1 { font-size: 20px; } 

 .consider li:nth-of-type(1) { font-size: 3vw; } 
 .consider li:nth-of-type(2) { font-size: 2vw; } 

 .down-aroow svg { width: 18px; } 



 /* section4-first-tutorial-wrapper */
 .tutorial-text-item { margin-top: 223px; } 
 .tutorial-text-inner li:nth-of-type(1) { font-size: 20px; } 
 .tutorial-text-inner li:nth-of-type(2) { font-size: 35px; } 

 .tutorial-detailed-text li { font-size: 16px; } 

 /* section6-third-tutorial-wrapper */
 .third-cetailed-category-2 {display: none;} 



 /* section7-fourth-tutorial-wrapper */
 .fourth-tutorial-wrapper { padding-bottom: 100px;}
 .fourth-tutorial-group { gap: 100px;} 
 .fourth-tutorial-text { margin-top: 140px; } 
 .fourth-main-home { top: 200px; left: 50%; transform: translateX(-50%); } 
 .fourth-mockup-group { width: 500px; height: 500px; left: 50%; transform: translateX(-50%); } 


 .fourth-mockup-item-inner-2 {margin-top: 300px; display: flex; flex-direction: column; align-items: center;}
 .fourth-mockup-item-inner-2 img { width: 328px; }
}
 
 
 /********************************************************
 반응형 (min-width: 390px)
 ********************************************************/
 @media all and (max-width: 428px){
 .tutorial-text:nth-of-type(1) { font-size: 26px; } 
 .tutorial-text:nth-of-type(2) { padding-top: 15px; font-size: 28px; } 
 .tutorial-text:nth-of-type(3) { padding-top: 60px; font-size: 14px; } 
 
 /** section1-main-wrapper **/
 .main-title-wrapper { height: 100vh; } 
 .moss-inner-text li:nth-of-type(1) { font-size: 12vw; padding-top: 12px; } 
 .moss-inner-text li:nth-of-type(2) { font-size: 4vw; } 
 
 
 /** section2-app-strategy-wrapper **/
 .contents-box-item { width: 380px; height: 180px; } 
 .contents-box-inner li:first-child { font-size: 20px; } 
 .contents-box-inner li:last-child { font-size: 16px; } 
 
 .derive-uiux-wrap h1 { font-size: 16px; } 
 
 .consider:nth-of-type(2) { margin-left: 0; } 
 .consider li:nth-of-type(1) { font-size: 4vw; } 
 .consider li:nth-of-type(2) { font-size: 2vw; } 
 
 
 /* section4-first-tutorial-wrapper */
 .tutorial-text-item { margin-top: 123px; } 
 .tutorial-text-inner li:nth-of-type(2) { font-size: 28px; } 
 .tutorial-detailed-text li { font-size: 14px; } 
 
 }