html { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 



/********************************************************
 bg img
********************************************************/
body { background-color: var(--white--color); overflow-x: hidden; font-family: var(--main--font); } 
a { text-decoration: none; } 
img { cursor: auto; } 



/********************************************************
 common-text-inner
********************************************************/
.common-text-inner span { color: var(--yellow--color); } 
.common-text-inner:nth-of-type(1) { color: var(--yellow--color); font-size: 32px; font-weight: var(--weight--700); list-style: 1.6; } 
.common-text-inner:nth-of-type(2) { padding-top: 30px; color: var(--black--color); font-size: 65px; font-weight: var(--weight--700); line-height: 1.4; } 
.common-text-inner:nth-of-type(3) { padding-top: 30px; color: var(--black--color); font-size: 36px; font-weight: var(--weight--400); line-height: 1.5; } 



/********************************************************
 section1-main-wrapper
********************************************************/
.main-title-wrapper { position: relative; width: 100vw; height: 1080px; background: var(--yellow--color); color: var(--white--color); } 
.main-title-group { width: 100%; height: 100%; } 

.moss-slogan-wrap { position: absolute; top: 237px; left: 180px; display: flex; flex-direction: column; gap: 57px; } 
.moss-slogan-inner { width: fit-content; height: 100%; } 

.moss-app-logo > img { width: 335px; } 

.moss-inner-text { margin-top: -60px; } 
.moss-inner-text li:nth-of-type(1) { font-family: var(--sub--font); font-size: 114px; font-weight: var(--weight--700); line-height: 1.5; } 
.moss-inner-text li:nth-of-type(2) { padding-top: 30px; font-size: 30px; font-weight: var(--weight--500); line-height: 1.6; } 

.main-mockup-image { position: absolute; width: 1150px; height: 964px; bottom: 0; right: 0; overflow: hidden; } 
.main-mockup-image img { position: absolute; width: 100%; bottom: 0; right: 0; object-fit: cover; cursor: auto; } 



/********************************************************
 section2-contents-intro-wrapper-1
********************************************************/
.contents-intro-wrapper { width: 100vw; height: 707px; background: var(--white--color); } 
.contents-intro-group { position: relative; width: 74vw; height: 100%; top: 0; left: 50%; transform: translateX(-50%); } 
.contents-intro-text { position: absolute; width: 95%; top: 50%; transform: translateY(-50%); } 
.contents-intro-text li:nth-of-type(2) { width: 500px; } 



/********************************************************
 section3-background-fixed
********************************************************/
.background-fixed { width: 100vw; height: 100vh; background: url(../images/indexPageImage/2x/e16.png) no-repeat center/cover fixed; } 



/********************************************************
 section4-interview-time-wrapper
********************************************************/
.interview-time-wrapper { width: 100vw; text-align: center; background: var(--white--color); } 
.interview-time-wrapper-2 { display: none; } 
.interview-time-group { position: relative; width: 100%; height: 500vh; } 
.interview-time-contents { position: sticky; top: 0; width: 100%; height: 100vh; z-index: 3; } 

.timeCount-and-text { position: relative; width: 100%; top: 40%; transform: translateY(-50%); line-height: 1.6; text-align: center; background: #ffffff71; } 
.timeCount-and-text li:first-child { color: var(--yellow--color); font-size: 54px; font-weight: var(--weight--700); } 
.timeCount-and-text li:last-child { padding-top: 5px; color: var(--black--color); font-size: 30px; font-weight: var(--weight--400); } 

.interview-image-wrapper { position: absolute; top: 0; width: 100%; height: 100%; z-index: 2; overflow: hidden; } 
.location { position: absolute; width: 25%; } 

.image-animate-1 { left: 700px; top: 200px; transform: rotate(-15deg); } 
.image-animate-2 { right: 790px; top: 200px; transform: rotate(15deg); } 
.image-animate-3 { left: 800px; top: 200px; transform: rotate(50deg); } 
.image-animate-4 { left: 700px; top: 200px; transform: rotate(-50deg); } 
.image-animate-5 { left: 700px; top: 200px; transform: rotate(-5deg); } 
.image-animate-6 { right: 790px; top: 200px; transform: rotate(15deg); } 
.image-animate-7 { left: 700px; top: 200px; transform: rotate(50deg); } 
.image-animate-8 { left: 800px; top: 200px; transform: rotate(15deg); } 
.image-animate-9 { left: 600px; top: 200px; transform: rotate(-25deg); } 
.image-animate-10 { right: 790px; top: 200px; transform: rotate(5deg); } 

.image-active-1 { left: 700px; top: 200px; transform: rotate(-15deg); animation: imageMotion 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-2 { right: 790px; top: 200px; transform: rotate(15deg); animation: imageMotion2 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-3 { left: 800px; top: 200px; transform: rotate(50deg); animation: imageMotion3 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-4 { left: 700px; top: 200px; transform: rotate(-50deg); animation: imageMotion4 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-5 { left: 700px; top: 200px; transform: rotate(-5deg); animation: imageMotion5 2.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-6 { right: 790px; top: 200px; transform: rotate(15deg); animation: imageMotion6 2.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-7 { left: 700px; top: 200px; transform: rotate(50deg); animation: imageMotion7 2.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-8 { left: 800px; top: 200px; transform: rotate(15deg); animation: imageMotion8 2.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-9 { left: 600px; top: 200px; transform: rotate(-25deg); animation: imageMotion9 2.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 
.image-active-10 { right: 790px; top: 200px; transform: rotate(5deg); animation: imageMotion10 2.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1); } 


@keyframes imageMotion { 
 0% { left: 700px; top: 200px; transform: rotate(-15deg); } 100% { top: 0; left: 0; transform: rotate(0); } 
 }
@keyframes imageMotion2 { 
 0% { right: 790px; top: 200px; transform: rotate(15deg); } 100% { top: 53px; right: -150px; transform: rotate(0); } 
 }
@keyframes imageMotion3 { 
 0% { left: 800px; top: 200px; transform: rotate(50deg); } 100% { top: 846px; left: 243px; transform: rotate(0); } 
 }
@keyframes imageMotion4 { 
 0% { left: 700px; top: 200px; transform: rotate(-50deg); } 100% { top: 950px; left: 1147px; transform: rotate(0); } 
 }
@keyframes imageMotion5 { 
 0% { left: 700px; top: 200px; transform: rotate(-5deg); } 100% { top: 1582px; left: -52px; transform: rotate(0); } 
 }
@keyframes imageMotion6 { 
 0% { right: 790px; top: 200px; transform: rotate(15deg); } 100% { top: 1479px; right: 29px; transform: rotate(0); } 
 }
@keyframes imageMotion7 { 
 0% { left: 700px; top: 200px; transform: rotate(50deg); } 100% { top: 2567px; left: 37px; transform: rotate(0); } 
 }
@keyframes imageMotion8 { 
 0% { left: 800px; top: 200px; transform: rotate(15deg); } 100% { top: 2402px; left: 960px; transform: rotate(0); } 
 }
@keyframes imageMotion9 { 
 0% { left: 600px; top: 200px; transform: rotate(-25deg); } 100% { top: 3736px; left: 200px; transform: rotate(0); } 
 }
@keyframes imageMotion10 { 
 0% { right: 790px; top: 200px; transform: rotate(5deg); } 100% { top: 3569px; right: 86px; transform: rotate(0); } 
 }

 

/********************************************************
 section5-mainHtml-mockup-wrapper
********************************************************/
.mainHtml-mockup-wrapper { width: 100vw; height: 80vw; background: var(--background--gray--color2); } 
.mainHtml-mockup-group { position: relative; width: 81vw; height: 100%; top: 0; left: 50%; transform: translateX(-50%); display: flex; flex-direction: column; align-items: center; justify-content: center; } 
.mainHtml-mockup-item { position: absolute; width: 100%; height: auto; background: var(--white--color); border: solid 29px var(--black--color); border-radius: 14px; overflow: hidden; } 
.mainHtml-mockup-item video { width: 100%; } 


/********************************************************
 section7-magazine-category-wrapper
********************************************************/
.magazine-category-wrapper { width: 100vw; height: 2031px; background: var(--white--color); } 
.magazine-category-group { position: relative; width: 81vw; height: 100%; top: 0; left: 50%; transform: translateX(-50%); } 

.magazine-category-text { margin-top: 163px; } 
.magazine-category-text li:nth-of-type(2) { width: 780px; } 
.magazine-category-text li:nth-of-type(3) { width: 820px; } 

.magazine-category-mockup-group { position: absolute; width: 100%; height: auto; margin-top: 260px; left: 50%; transform: translateX(-50%); } 
.magazine-mockup-item { position: absolute; width: 100%; height: auto; background: var(--white--color); border: solid 29px var(--black--color); border-radius: 14px; overflow: hidden; } 
.magazine-mockup-item video { width: 100% } 


/********************************************************
 section8-magazine-detail-wrapper
********************************************************/
.magazine-detail-wrapper { position: relative; width: 100vw; height: 879px; background: var(--background--gray--color2); display: flex; align-items: center; justify-content: flex-end; } 
.magazine-detail-image-item { position: absolute; width: 96%; height: auto; display: flex; align-items: center; justify-content: center; gap: 192px; } 

.magazine-detail-image { object-fit: cover; } 
.magazine-detail-image:nth-of-type(1) { width: 694px; } 
.magazine-detail-image:nth-of-type(2) { width: 960px; } 
.magazine-detail-image:nth-of-type(1) img { width: 100%; } 
.magazine-detail-image:nth-of-type(2) img { width: 100%; } 


.magazine-detail-image h1 { padding-top: 30px; color: var(--dark--gray); font-size: 16px; font-weight: var(--weight--500); } 
.magazine-detail-image p { padding-top: 5px; color: var(--black--color); font-size: 19px; font-weight: var(--weight--800); line-height: 1.3; } 



/********************************************************
 section9-detailPage-mockup-wrapper
********************************************************/
.detailPage-mockup-wrapper { width: 100vw; height: auto; } 

.magazine-detail-group { position: relative; width: 81vw; height: 845px; top: 0; left: 50%; transform: translateX(-50%); } 
.magazine-detail-text { margin-top: 244px; } 
.magazine-detail-text li:nth-of-type(2) { width: 700px; } 
.magazine-detail-text li:nth-of-type(3) { width: 820px; } 

.detailPage-mockup-group { position: relative; width: 100%; height: auto; display: flex;; } 

.tablet-mockup-item { width: 100%; height: 4167px; background: var(--yellow--color); } 
.tablet { position: relative; width: 633px; height: 356px; top: 302px; left: 50%; transform: translateX(-50%); background: var(--black--color); border-radius: 9px; } 
.tablet img { width: 100%; } 

.app-mockup-item { width: 100%; display: flex; flex-direction: column; } 
.app-mockup-top { width: 100%; height: 1434px; background: var(--white--color); } 
.app-mockup-bottom { position: relative; width: 100%; height: 2733px; background: var(--background--gray--color2); } 
.app-mockup-bottom .phone-background { top: 302px; } 

.phone-background { position: relative; width: 371px; height: 764px; top: 302px; left: 50%; transform: translateX(-50%); background: var(--iphone--color); border-radius: 57px; display: flex; align-items: center; justify-content: center; } 

.back-img-scroll { position: absolute; top: 410px; left: 50%; transform: translateX(-50%); } 



/********************************************************
 section6-moss-intro-wrapper
********************************************************/
.moss-intro-wrapper { width: 100vw; height: 4833px; background: linear-gradient(180deg, #FFF 0%, #F0F1F2 100%); } 
.moss-intro-group { position: relative; width: 81vw; height: 100%; top: 0; left: 50%; transform: translateX(-50%); } 

.moss-intro-txet { margin-top: 156px; } 
.moss-intro-txet li:nth-of-type(3) { width: 840px; } 



.moss-intro-mockup-detail { position: absolute; width: 1225px; height: 3865px; margin-top: 281px; left: 50%; transform: translateX(-50%); z-index: -1; } 

.moss-intro-mockup-group { position: absolute; width: 1295px; height: auto; margin-top: 260px; left: 50%; transform: translateX(-50%); } 
.moss-intro-mockup-item { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 747px; background: black; border-radius: 14px; } 
.moss-intro-mockup-item img { width: 1260px; border-radius: 14px; object-fit: cover; } 




/********************************************************
 section10-move-site-wrapper
********************************************************/
.move-site-wrapper { width: 100vw; height: 1103px; background: var(--white--color); } 
.move-site-group { position: relative; width: 100%; height: 100%; } 

.move-site-text { position: absolute; top: 226px; left: 180px; } 
.move-site-text h1 { width: 500px; font-size: 65px; font-weight: var(--weight--700); line-height: 1.4; } 

.btn-wrap { margin-top: 60px; font-size: 65px; } 
.btn-wrap .btn { width: 305px; height: 80px; font-size: 24px; font-weight: var(--weight--600); padding: 10px 60px; display: flex; justify-content: center; align-items: center; flex-shrink: 0; border-radius: 50px; border: 2px solid var(--yellow--color); color: var(--yellow--color); background: var(--white--color); cursor: pointer; transition: all .2s ease; overflow: hidden; } 
.btn-wrap .btn:hover { background: var(--yellow--color); color: #FFF; } 

.move-site-mockup { position: absolute; width: 1406px; top: 0; right: 0; } 
.move-site-mockup img { width: 100%; } 


/********************************************************
 footer
********************************************************/
footer { position: relative; width: 100%; } 
footer img { width: 100%; object-fit: cover; display: block;} 


.top-inset { clip-path: inset(0% 0% 100% 0%); transition: all .75s; } 


























/********************************************************
 반응형 (min-width: 1800px)
********************************************************/
@media all and (max-width: 1800px) { /** section1-main-wrapper **/
 .main-title-wrapper { height: 100vh; } 
 .moss-app-logo > img { width: 235px; } 
 
 .moss-inner-text { margin-top: -40px; } 
 .moss-inner-text li:nth-of-type(1) { font-size: 80px; } 
 .moss-inner-text li:nth-of-type(2) { padding-top: 30px; font-size: 24px; } 

 .main-mockup-image { width: 960px; height: 764px; } 


 /* section11-move-site-wrapper */
 .move-site-mockup { width: 1006px; } 
 .move-site-mockup img { width: 100%; } 

 .move-site-text h1 { width: 500px; font-size: 60px; } 

}



/********************************************************
 반응형 (min-width: 1560px)
********************************************************/
@media all and (max-width: 1560px) { /** section1-main-wrapper **/
 .main-mockup-image { width: 760px; height: 764px; } 
 .main-mockup-image img { bottom: 100px; } 

 /** section5-mainHtml-mockup-wrapper **/
 .mainHtml-mockup-item { border-radius: 10px; } 

 /* section7-magazine-category-wrapper */
 .magazine-category-wrapper { height: 1800px; } 


 /* section11-move-site-wrapper */
 .move-site-mockup { width: 806px; } 
 .move-site-mockup img { width: 100%; } 

 .move-site-text h1 { width: 500px; font-size: 60px; } 

 .btn-wrap { margin-top: 60px; font-size: 60px; } 
 .btn-wrap .btn { width: 285px; height: 70px; font-size: 20px; } 
 } 
 




/********************************************************
 반응형 (min-width: 1280px)
********************************************************/
@media all and (max-width: 1280px) { /** common-text-inner **/
 .common-text-inner:nth-of-type(1) { font-size: 32px; } 
 .common-text-inner:nth-of-type(2) { padding-top: 30px; font-size: 45px; } 
 .common-text-inner:nth-of-type(3) { padding-top: 30px; font-size: 26px; } 


 /** section1-main-wrapper **/
 .moss-slogan-wrap { width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; } 
 .moss-slogan-inner { width: fit-content; height: 100%; } 
 .main-mockup-image { display: none; } 

 /** section2-contents-intro-wrapper-1 **/
 .contents-intro-text li:nth-of-type(2) { width: 100%; } 


 /** section3-background-fixed **/
 .background-fixed { background: url(../images/indexPageImage/2x/e16.png) no-repeat center/cover; } 


 /** section4-interview-time-wrapper **/
 .interview-time-contents { display: flex; align-items: center; justify-content: center; } 
 .timeCount-and-text { position: relative; top: 0; } 
 .timeCount-and-text li:first-child { font-size: 44px; } 
 .timeCount-and-text li:last-child { font-size: 20px; } 


 /** section5-mainHtml-mockup-wrapper **/
 .mainHtml-mockup-item { border-radius: 5px; } 


 /* section7-magazine-category-wrapper */
 .magazine-category-wrapper { height: 1200px; } 
 .magazine-category-text li:nth-of-type(2) { width: 100%; } 
 .magazine-category-text li:nth-of-type(3) { width: 100%; } 

 .magazine-category-mockup-group { margin-top: 200px; } 
 .magazine-mockup-item { border-radius: 5px; } 


 /* section8-magazine-detail-wrapper */
 .magazine-detail-wrapper { height: 679px; } 
 .magazine-detail-image h1 { padding-top: 30px; font-size: 16px; } 
 .magazine-detail-image p { padding-top: 5px; font-size: 19px; white-space: nowrap; } 


 /* section9-detailPage-mockup-wrapper */
 .magazine-detail-group { height: 745px; } 
 .magazine-detail-text { position: absolute; top: 50%; transform: translateY(-50%); margin-top: 0; } 
 .magazine-detail-text li:nth-of-type(2) { width: 100%; } 
 .magazine-detail-text li:nth-of-type(3) { width: 100%; } 

 .detailPage-mockup-group { flex-direction: column; } 


 /* section10-moss-intro-wrapper */
 .moss-intro-wrapper { height: 380vw; } 
 .moss-intro-txet { margin-top: 106px; } 
 .moss-intro-txet li:nth-of-type(3) { width: 100%; } 

 .moss-intro-mockup-detail { position: absolute; width: 98%; height: auto; object-fit: cover; top: 200px; clip-path: inset(20% 0% 0% 0%); left: 50%; transform: translateX(-50%); } 

 .moss-intro-mockup-group { position: absolute; width: 100%; height: auto; margin-top: 260px; left: 50%; transform: translateX(-50%); } 
 .moss-intro-mockup-item { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: auto; background: black; border-radius: 14px; } 
 .moss-intro-mockup-item img { width: 100%; border-radius: 14px; padding: 16px; object-fit: cover; } 


 /* section11-move-site-wrapper */
 .move-site-wrapper { height: 80vh; } 
 .move-site-mockup { display: none; } 
 .move-site-text { position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: center; } 
 .move-site-text h1 { width: 100%; font-size: 40px; text-align: center; } 

 .btn-wrap { margin-top: 60px; font-size: 60px; } 
 .btn-wrap .btn { width: 265px; height: 70px; font-size: 18px; } 

}


/********************************************************
 반응형 (min-width: 768px)
********************************************************/
@media all and (max-width: 768px) { /** common-text-inner **/
 .common-text-inner:nth-of-type(1) { font-size: 32px; } 
 .common-text-inner:nth-of-type(2) { padding-top: 30px; font-size: 36px; } 
 .common-text-inner:nth-of-type(3) { padding-top: 30px; font-size: 16px; } 


 /** section1-main-wrapper **/
 .moss-slogan-inner { display: flex; flex-direction: column; align-items: center; width: fit-content; height: 100%; } 
 .main-title-wrapper { height: 100vh; } 
 .moss-app-logo > img { width: 232px; } 
 
 .moss-inner-text li:nth-of-type(1) { font-size: 63px; } 
 .moss-inner-text li:nth-of-type(2) { font-size: 20px; } 


 /** section2-contents-intro-wrapper-1 **/
 .contents-intro-wrapper { width: 100vw; height: 407px; background: var(--white--color); } 
 .contents-intro-group { width: 94vw; } 


 /* section5-mainHtml-mockup-wrapper */
 .mainHtml-mockup-group { width: 81vw; } 
 .mainHtml-mockup-item { border-radius: 5px; border: solid 20px var(--black--color); } 


 /* section7-magazine-category-wrappe */
 .magazine-category-wrapper { height: 900px; } 
 .magazine-category-mockup-group { margin-top: 160px; } 
 .magazine-mockup-item { border-radius: 5px; border: solid 20px var(--black--color); } 



 /* section8-magazine-detail-wrapper */
 .magazine-detail-wrapper { height: 60vh; justify-content: center; } 
 .magazine-detail-image-item { align-items: normal; gap: 12px; } 
 .magazine-detail-image h1 { padding-top: 20px; font-size: 14px; } 
 .magazine-detail-image p { padding-top: 8px; font-size: 16px; } 

 .magazine-detail-image { object-fit: cover; } 
 .magazine-detail-image:nth-of-type(1) { width: 394px; } 
 .magazine-detail-image:nth-of-type(2) { width: 411px; } 
 


 /* section9-detailPage-mockup-wrapper */
 .magazine-detail-group { height: 545px; } 

 .tablet-mockup-item { height: 560vw; } 
 .tablet { width: 90vw; height: 356px; } 


 /* section10-moss-intro-wrapper */
 .moss-intro-mockup-detail { top: 170px; } 
 .moss-intro-mockup-item { border-radius: 5px; } 
 .moss-intro-mockup-item img { padding: 14px; } 


 /* section11-move-site-wrapper */
 .move-site-wrapper { height: 50vh; } 
 .move-site-text h1 { width: 100%; font-size: 30px; text-align: center; } 
 }


/********************************************************
 반응형 (min-width: 390px)
********************************************************/
@media all and (max-width: 428px){
 .common-text-inner:nth-of-type(1) { font-size: 26px; } 
 .common-text-inner:nth-of-type(2) { padding-top: 30px; font-size: 28px; } 
 .common-text-inner:nth-of-type(3) { padding-top: 30px; font-size: 14px; } 
 
 /** section1-main-wrapper **/
 .main-title-wrapper { height: 100vh; } 
 .moss-inner-text li:nth-of-type(1) { font-size: 12vw; padding-top: 12px; } 
 .moss-inner-text li:nth-of-type(2) { font-size: 4vw; } 


 /** section3-background-fixed **/
 .background-fixed { height: 60vh; background: url(../images/indexPageImage/2x/e16.png) no-repeat center/cover; } 


 /* section5-mainHtml-mockup-wrapper */
 .mainHtml-mockup-group { width: 81vw; } 
 .mainHtml-mockup-item { border-radius: 5px; border: solid 10px var(--black--color); } 


 /* section7-magazine-category-wrappe */
 .magazine-category-wrapper { height: 800px; } 
 .magazine-category-text { margin-top: 90px; } 
 .magazine-category-mockup-group { margin-top: 100px; } 
 .magazine-mockup-item { border-radius: 5px; border: solid 10px var(--black--color); } 



 /* section9-detailPage-mockup-wrapper */
 .magazine-detail-group { height: 445px; } 
 .tablet { width: 90vw; height: 256px; } 


 /* section10-moss-intro-wrapper */
 .moss-intro-mockup-detail { top: 140px; } 
 .moss-intro-mockup-item img { padding: 10px; } 
 }

